.admin-dashboard {
  display: flex;
  height: 100vh;
  background: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: linear-gradient(135deg, #1a1a2e, #16213e);
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 70px;
  height: 100%;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.logo-admin {
  font-size: 18px;
  font-weight: bold;
}

.collapse-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item:hover,
.menu-item.active {
  background: rgba(255, 255, 255, 0.2);
}

.icon {
  margin-right: 12px;
  font-size: 18px;
}

/* HEADER */
.header-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 20px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
}

.logout-btn {
  background: #e63946;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #d62828;
}

/* CONTENT */
.main-content {
  flex: 1;
  margin-left: 230px;
  margin-top: 70px  ;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}

.admin-dashboard.collapsed .main-content {
  margin-left: 80px;
}

.dashboard-content {
  padding: 30px;
  background: #f7f8fa;
  min-height: calc(100vh - 70px);
}

.admin-section h2 {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #333;
}

.admin-section p {
  color: #555;
  margin-top: 8px;
}

