.home-page {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  padding: 0px 24px;
  max-width: 70%;
  gap: 10px; /* tạo khoảng cách đẹp giữa h1 và h4 */
  left: 15%;
  top: 10%;
}

.banner-content h1 {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: -4px;
  color: #0852b2;
  margin: 0; /* loại bỏ margin mặc định */
}

.banner-content h4 {
  font-size: 2rem;
  line-height: 1.6;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  color: white;
  background: linear-gradient(to right, #f14f14, #f59e3b);
  padding: 8px 50px; 
  border-radius: 6px;
  margin: 0; /* bỏ margin để thẳng hàng */
  align-self: center; /* canh giữa theo flex */
}


.banner-content h3 {
  font-size: 2rem;
  margin: 6px 0;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

/* benefit section */
.benefit {
  padding: 60px 20px;
  background-color: #fff;
}

.benefit-header {
  text-align: center;
  margin-bottom: 50px;
}

.benefit-header h2 {
  color: #fff;
  background-color: #1e5bb8;
  display: inline-block;
  padding: 5px 40px;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.benefit-header h2:first-child {
  margin-bottom: 0;
}

.benefit-header h3 {
  color: #333;
  font-size: 20px;
  margin-top: 12px;
}

.benefit-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.benefit-card {
  background-color: #fff;
  padding: 0;
  text-align: center;
  transition: transform 0.3s ease;
  border-radius: 15px;
}

.benefit-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.benefit-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
}

.benefit-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.benefit-title {
  color: #1e5bb8;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 15px;
  line-height: 1.4;
}

.benefit-description {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
  padding: 0 20px 25px;
  text-align: center;
}


@media (min-width: 1200px) {
  .banner-content {
    left: 9%;
    top: 15%;
  }
}

@media (max-width: 1024px) {
  .banner-container {
    height: 60vh;
  }
  .banner-content {
    padding: 0px 4px;
    max-width: 98vw;
    top: 10%;
    left: 10%;
  }
  .banner-content h1 {
    font-size: 5rem;
  }
  .banner-content h4 {
    font-size: 1.5rem;
    padding: 6px 30px;
  }
  .benefit-header h2 {
    font-size: 15px;
    padding: 12px 30px;
  }

  .benefit-cards {
    grid-template-columns: 1fr;
    max-width: 650px;
  }
}

@media (max-width: 600px) {
  .banner-container {
    height: 50vh;
  }
  .banner-content {
    padding: 0px 4px;
    max-width: 100vw;
    top: 10%;
    left:3px;
  }
  .banner-content h1 {
    font-size: 3rem;
  }
  .banner-content h4 {
    font-size: 1rem;
  }
  .banner {
    height: 60vh;
  }
  .benefit-image{
    height: 200px;
  }
}

@media (max-width: 400px) {
  .banner-content {
     top: 10%;
      left:0;
  }
}
